.spritesheet {
  margin: 0 auto;
  width: 170px;
  height: 360px;
  background-image: url(../img/sukuna.jpg);
  background-size: 1280px 360px;
  animation: walk 5s steps(6) infinite;
}

@keyframes walk {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1280px 0;
  }

}

/* ------------- */

.toji {
  margin: 0 auto;
  width: 35px;
  height: 55px;
  background-image: url(../img/toji11.jpg);
  animation: sword 2s steps(6) infinite;
}

@keyframes sword {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -256px 0;
  }

}

/* ---------- */
.runner {
  margin: 0 auto;
  width: calc(923px / 7);
  height: 150px;
  background: url(../img/12.png) no-repeat;
  animation: runner 1s steps(7) infinite;
}

@keyframes runner {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -923px 0;
  }

}

.kakashi {
  margin: 0 auto;
  width: calc(220px / 5);
  height: 54px;
  background: url(../img/KAKASHI100_-ezgif.com-crop\ \(2\).png) no-repeat;
  animation: kakashi 1s steps(6) infinite;
}

@keyframes kakashi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -36px 0;
  }

}

