.container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    width: 1500px;
}

.block {
    box-sizing: border-box;
    margin: 0.1rem;
    background-color: #EAEBEF;
    padding: 5rem;
    text-align: center;
    width: 480px;
    float: left;
}