.container {
    margin-right: auto;
    margin-left: auto;
    width: 770px;
    height: 456px;
    background-color: #F9F2F3;
}

.block {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
}

.block1 {
    margin-top: 1rem;
    margin-left: 70px;
}

.info {
    height: 105px;
    box-sizing: border-box;
    float: left;
    border: 1px solid #808080;
    width: 200px;
    text-align: center;
}

.text {
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.color {
    text-align: center;
    color: #BF8A5C;
}
