.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid;

}

.block {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid indigo;
}

.head {
    width: 2%;
}

.name {
    color: lightgray;
}

strong {
    font-size: 20px;
}

.main\.img {
    width: 450px;
}

.mini {
    color: lightgray;
}

ul {
    margin-bottom: 2rem;
    /*padding: 1rem;*/
    display: inline-block;
    justify-content: flex-start;
}

ul li {

    list-style: none;
    padding-bottom: 0.5rem;
}

.bottom.icons{
    margin: 1rem;
    padding: 1rem;
    display: flex;

}