.container {
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

.block {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

img {
    width: 400px;
}

.info {
    padding: 0.5rem;
}

.link {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50px;
    margin-left: auto;
}
