.wrapper {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-family: "Calibri Light";
    letter-spacing: 5px;
    word-spacing: 5px;
}

.word {
    text-align: center;
    font-size: 16px;
    color: grey;
}

.green{
    height: 74%;
}

.link {
    color: indigo;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid darkblue;
    width: 20%;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

ul li a {
    color: darkblue;
    text-decoration: none;
    padding: 1rem 0.5rem;
    font-size: 18px;
    font-family: sans-serif;
}

.block {
    padding: 1rem;
    /*border: 1px solid;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    padding: 1rem 1rem 0rem 1rem;
    width: 32%;
    height: 360px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 1rem;
    position: relative;
}

.box img {
    width: 100%;
}

.box p {
    color: grey;
    font-size: 12px;
    margin-top: 5px;
}

.box h4 {
    text-transform: uppercase;
    color: darkslategray;
    word-spacing: 2px;
    letter-spacing:1px;
}

.box h4 p {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: ghostwhite;
}

.new {
    background-color: red;

}

.span {
    color: white;
}

.discount {
    background-color: lightseagreen;

}

.price {
    display: inline-block;
    border-radius: 2px;
    padding: 3px 6px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}