.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 10rem;
}

.logo {
    display: flex;
}

.circle {
    width: 75px;
    height: 75px;
    background-color: #4e4e4e;
    border-radius: 50%;
}

.line {
    width: 20px;
    height: 75px;
    background-color: #4e4e4e;
    transform: skewX(-15deg);
}

.circle, .line {
    margin-right: 10px;
}

.logo, .title-logo {
    font-family: sans-serif;
    font-size: 42px;
    margin: 0 15px;
}

.desc-logo {
    font-size: 18px;
    margin: 0 15px;
    background-color: #ff435b;
    color: #ffffff;
    width: 75px;
    text-align: center;
}

.logo-text {
    position: relative;
}

.live-icon {
    width: 14px;
    height: 14px;
    background-color: #ff435b;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.live-effect {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff435b;
    animation: live 2s linear infinite;
}

@keyframes live {
    from {
        transform: scale(0.8);
        opacity: 0.8;
    }

    to {
        transform: scale(2);
        opacity: 0.1;
    }

}

