

.container {
    margin-left: 200px;
    margin-top: 100px;
}

.play {
    color: rgb(75, 120, 234);
    font-size: 35px;
}
.animation {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: rgb(89, 207, 187);
    position: relative;
    animation-name: circle_animation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 20;
}


@keyframes circle_animation {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}