.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.bnt {
    background-color: #4272D8;
    color: #ffffff;
    transition: 0.5s all 0s ease-in;
    border: none;
    padding: 0.5rem 0.85rem;
}

.bnt:hover {
    background-color: #05dcf8;
    color: #ffffff;
}

.bnt:active {
    background-color: #0e337e;
    color: white;
}

body {
    font-family: sans-serif;
    font-size: 18px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 32%;
    background-color: #ffffff;
    box-shadow:0 5px 10px 5px rgba(0,0,0,0.1);
    transition: all 0.4s linear;
}

.box:hover{
    box-shadow: 0 30px 25px 0px rgba(0,0,0,0.1);
}

.box img {
    width: 100%;
}

.box p{
    line-height: 24px;
    color: #909090;
}
.box h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 5px 2px 2px rgb(80,80,80,0.3);
}

.box h4, .box p {
    padding: 0 1rem;
}