/*.container {*/
/*    width: 1200px;*/
/*    margin: 2rem 2rem;*/
/*    !*background-image: url("../img/main-banner (1).jpg");*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-size: cover;*!*/
/*    !*background-position: 350px 50px;*!*/
/*}*/

body {
    background-image: url("../img/main-banner (1).jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 350px 50px;
}

/*.block {*/
/*    background-image: url("../img/main-banner (1).jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: 350px 50px;*/

/*}*/

.div3 {
    opacity: 90%;
    width: 450px;
    height: 450px;
    border: 1px solid;
    background-color: white;
    margin-left: 24rem;
    margin-top: 7rem;
}

h1 {
    text-align: left;
    padding-top: 3rem;
    padding-left: 3rem;
    word-spacing: 15px;
    font-size: 40px;
}

.p1 {
    text-align: left;
    color: grey;
    padding-left: 3rem;
}

.p2 {
    text-align: justify;
    color: grey;
    padding-left: 3rem;
    padding-right: 3rem;
}

.button {
    width: 150px;
    height: 40px;
    border: 2px solid #5A5E79;
    color: #5A5E79;
    background: none;
    margin-left: 3rem;

}

.b1 {
    color: #5A5E79;
}