<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Layout-1</title>
</head>
<body>
<div class="header">
    <div class="container">
        <h4>Welcome to our online shop</h4>
    <div class="signup">
         <select>
            <option>English (USD)</option>
            <option>Русский (RUB)</option>
            <option>Español (ES)</option>
            <option>German(DE)</option>
        </select>
        <span class="spann">|</span>
        <span><a href="">Login</a> or <a href="">Sign up</a></span>
    </div>
    <div class="clear"></div>
    <div class="searchbar">
        <div class="logo">
            <img src="images/Group.png" alt="">
            <h3>Furniking</h3>
        </div>
    <div class="search">
        <input type="search" placeholder="Search here">
        <span class="line1"></span>
        <select name="" id="">
            <option value="">Categories</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
        <button type="submit"><img src="images/zoom-2 1.png" alt=""></button>
    </div>
    <div class="icons">
        <button type="submit"><a href="/Homeworks/HTML 2/Add/Webp/index.html"><img src="images/icon shop.png" alt=""></a></button>
       <button type="submit"><a href=""><img src="images/Notification.svg" alt=""></a></button>
        <button type="submit"><a href=""><img src="images/avatar 1.png" alt=""></a></button>
    </div>
    </div>
    <div class="navbar"></div>
</div>
</div>
</body>
</html>