body {
    background-color: #EAF2EE;
}

.container {
    border: none;
    width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    justify-content: space-between;
    display: flex;
}

.block {
    background-color: white;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

span {
    color: #3FBE7A;
}

.webtype {
    letter-spacing: 1px;
    font-size: 40px;
}

.small {
    color: grey;
    font-size: 15px;
}

strong {
    font-size: 25px;
}

li {
    list-style: none;
}

ul {
    justify-content: flex-start;
    display: inline-block;
    padding-left: 0rem;
    margin-right: 4rem;
    margin-top: -1rem;
}
