.wrapper {
    border: none;
    background-color: #EDF5F1;
    width: 920px;
    margin: 0 auto;
    justify-content: flex-start;

}

ul {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

ul li {
    margin-left: 2.5rem;
    display: inline-block;
    text-align: center;
    font-size: 20px;


}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

img {
    position: relative;
    top: 10px;
    left: 30px;

}