body {
    background-color: #E5E5E5;
}

.container {
    width: 1200px;
    /*border: 1px solid;*/
    margin: 0 auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

/*.block {*/
/*    border: 1px solid;*/
/*}*/

.box {
    box-sizing: border-box;
    width: 560px;
    background-color: white;
    border-radius: 2px;
    /*border: 1px solid blue;*/
    display: inline-block;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 1rem;
    margin-right: 1rem;
}


img {
    margin-left: 1rem;
    margin-bottom: -1.7rem;
    width: 320px;
    height: 270px;
}

.price {
    color: red;
}

button {
    width: 150px;
    height: 40px;

}

ul {
    padding: 1rem;
    display: inline-block;
    justify-content: flex-start;
}

ul li {

    list-style: none;
    padding-bottom: 0.5rem;
}