body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: 150px 50px;

}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    word-spacing: 5px;
    padding-top: 23rem;
}





.b1 {
    text-align: center;
    background: none;
    border: none;

}