.container {
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 2rem 2rem;
    border: 1px solid #7D7A79;
    width: 485px;
    height: 481px;
}

.login {
    text-align: center;
    color: grey;
    font-size: 30px;
    padding-bottom: 1rem;
}

.f1 {

}

.input {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.email {
    width: 270px;
    height: 40px;
    padding-left: 1rem;
}

.button {
    padding: 0.7rem;
    width: 290px;
    background-color: #4272D8;
    border: none;
    color: white;
    margin-top: 1rem;
}

.text {
    text-align: center;
    margin-top: 2rem;
}

.p1 {
    color: grey;
}

.link {
    text-decoration: none;
    color: #4272D8;
}