.wrapper{
    width: 1400px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid;
}

.login{
    text-align: center;
    border: 1px solid;
    font-family: sans-serif;
    font-size: 50%;
    background-color: green;
}